<h1 class="title" data-aos="fade-left">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-right">
  👋 Hi, my name is Priyansh Gupta and I'm from India. <br>
  <br>
  👨‍💻 I'm a Software Engineer.<br>
  <br>
  💻 I like checking out open source projects and sharing my own code on <a class="highlight-link"
    href="https://github.com/priyansh19" target="_blank" rel="noreferrer"> Github </a>.<br>
  <br>
  👥 I have worked with BigData, DevOps, and Cloud Tools<br>
  <br>
  🤖 I use to automate repetitive processes on my computer via bash or python scripting for fun.<br>
  <br>
  📚 I love coding and building small fun projects in my free time.<br>
  <br>
  📈 I am passionate about learning new technologies and will share my experience blogs.<br>
  <br>
</p>